$bodyDefault: #1b1b1c;
$bodyText:#f9f9f9;
$menuText:#f9f9f9;
$menuHover:#888;
$fullBlack:#000;
$lines:#000;
$menuLine:#f9f9f9;

$otherColor:#888;
$otherColor2:#b2b1aa;


$linesReverse:#f9f9f9;
$linesWhite:#fff;
$menuWhite:#fff;

$opaqueMenu:rgba(0, 0, 0, 0.8);

$footertext:#b5b1b1;