h1{
	font-family:'MyWebFont', Arial, sans-serif; 
	font-size:6em; 
	letter-spacing:5px; 
	text-shadow: 5px 5px $fullBlack;  
	margin-top:0px;
	margin-bottom:1rem;
}

h2{ font-family:'MyWebFont', Arial, sans-serif; font-size:200px;}