@font-face {
  font-family:'MyWebFont';
  src: url('/assets/fonts/one.eot');
  src: url('/assets/fonts/one.eot?#iefix') format('embedded-opentype'), 
       url('/assets/fonts/one.woff2')format('woff2'), 
       url('/assets/fonts/one.woff')format('woff'),
       url('/assets/fonts/one.ttf') format('truetype'); 

}
